<div class="height">
    <div id="logo" class="center">
        <mat-icon>business_center</mat-icon>
        <p><span style="color: black;">Smart</span>POS</p>
    </div>
    <div class="center" tabindex="1">
        <mat-icon>dashboard</mat-icon>
        <p>Dashboard</p>
    </div>
    <div class="center" tabindex="2">
        <mat-icon>fastfood</mat-icon>
        <p>Food & Drinks</p>
    </div>
    <div class="center" tabindex="4">
        <mat-icon>payment</mat-icon>
        <p>Bills</p>
    </div>
    <div class="profile">
        <img class="avatar" src="assets/images/Joao.jpeg" alt="">
        <p class="username">João Vieira</p>
        <span class="userStatus">Waiter • 4h 56m</span>
        <button class="leave" routerLink="/">Leave</button>
    </div>
    <p class="copyright">© 2022 PRinformática</p>
</div>