.btnOptions {
    width: 125px;
    height: 50px;
    margin: 12px;
}

.dialog-btn {
    width: 125px;
    height: 50px;
    margin-top: -12px;
}

// .table-form {
//     width: 145%;
// }

// img {
//     width: 245px;
//     height: 245px;
//     border-radius: 50%;
//     padding: 5px;
// }

.preview-avatar {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.preview {
    width: 45px;
    height: 45px;
    padding: 5px;
    object-fit: contain;
}

.file-upload {
    align-items: center;
    display: flex;
    justify-content: center;
}

.input-text {
    padding: 5px;
}

.category-form {
    display: flex;
    justify-content: center;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.disablePaginator{
    display: none;
}

.example-form{
    display: flex;
    justify-content: center;
}

