<div class="fixedHeader">
    <button mat-raised-button class="btnOptions" (click)="openCreateModal()">Novo</button>
    <button mat-raised-button class="btnOptions" (click)="openUpdateModal(dataRow)">Atualizar</button>
    <button mat-raised-button class="btnOptions" (click)="openDeleteModal()">Eliminar</button>

    <div class="orderList">
        <mat-form-field appearance="fill">
            <mat-label>Ordenar por:</mat-label>
            <mat-select [(value)]="orderBy" (selectionChange)="onOptionsSelected()">
                <mat-option value="id">ID</mat-option>
                <mat-option value="name">Nome</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="containerDefault">

    <ng-container *ngIf="showProgressBar; else elseBlock">
        <br>
        <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
    </ng-container>

    <ng-template #elseBlock>

        <ng-container *ngIf="!(categoriesOff | async)?.length; else elseBlock1">
            <br>
            <div class="noData">
                <p class="noDataText">Não existem categorias registadas</p>
            </div>
        </ng-container>

        <ng-template #elseBlock1>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 dataTable">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
                            color="warn">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null; onCheckBoxClicked()"
                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" color="warn">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> Id. </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container> -->

                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> <img class="preview" [src]="element.image"> </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="categorie">
                    <th mat-header-cell *matHeaderCellDef> Categoria Pai </th>
                    
                    <td mat-cell *matCellDef="let element"> 
                        <ng-container *ngIf="namesCategories[element.id-1]==undefined; else elseBlockElement">
                            Sem categoria pai
                        </ng-container>  
                        
                        <ng-template #elseBlockElement>
                            {{namesCategories[element.id-1]}}
                        </ng-template>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="county">
                            <th mat-header-cell *matHeaderCellDef> Localidade </th>
                            <td mat-cell *matCellDef="let element"> {{element.county}} </td>
                        </ng-container> -->

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-template [ngIf]="element.synchronized">
                            <mat-icon class="synchronizedTrue">lens</mat-icon>
                        </ng-template>
                        <ng-template [ngIf]="!element.synchronized">
                            <mat-icon class="synchronizedFalse">lens</mat-icon>
                        </ng-template>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsCategory"></tr>
                <tr mat-row (click)="onRowClicked(row)" (dblclick)="openUpdateModal(dataRow)"
                    *matRowDef="let row; columns: displayedColumnsCategory;"
                    [ngClass]="{'highlight': selectedRowIndex == row.id}"></tr>
            </table>
        </ng-template>
        <!-- <button (click)="synchronizeData()">Sincronizar dados</button> -->
    </ng-template>
    <mat-paginator #paginatorCategories
        [ngClass]="{'disablePaginator': showProgressBar || !(categoriesOff | async)?.length}"
        [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

    <!-- <mat-tab label="Subcategorias">
            <ng-container *ngIf="showProgressBar; else elseBlock2">
                <br>
                <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
            </ng-container>

            <ng-template #elseBlock2>

                <ng-container *ngIf="!(subcategoriesOff | async)?.length; else elseBlock3">
                    <br>
                    <div class="noData">
                        <p class="noDataText">Não existem subcategorias registadas</p>
                    </div>
                </ng-container>

                <ng-template #elseBlock3>
                    <table mat-table [dataSource]="dataSourceSubCategories" class="mat-elevation-z8 dataTable">

                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element"> <img class="preview" [src]="element.image"> </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nome </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Categoria </th>
                            <td mat-cell *matCellDef="let element"> {{element.category_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="state">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let element">
                                <ng-template [ngIf]="element.synchronized">
                                    <mat-icon class="synchronizedTrue">lens</mat-icon>
                                </ng-template>
                                <ng-template [ngIf]="!element.synchronized">
                                    <mat-icon class="synchronizedFalse">lens</mat-icon>
                                </ng-template>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSubCategory"></tr>
                        <tr mat-row (click)="onRowClicked(row)" (dbclick)="openUpdateModal(dataRow)" *matRowDef="let row; columns: displayedColumnsSubCategory;"
                            [ngClass]="{'highlight': selectedRowIndex == row.id}"></tr>
                    </table>
                </ng-template>
                <button (click)="synchronizeData()">Sincronizar dados</button>
            </ng-template>
            <mat-paginator #paginatorSubCategories [ngClass]="{'disablePaginator': showProgressBar || !(subcategoriesOff | async)?.length}"
                [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>
        </mat-tab> -->

</div>