<ng-container *ngIf="update; else elseBlock">
    <h1 mat-dialog-title>Atualizar categoria</h1>
</ng-container>

<ng-template #elseBlock>
    <h1 mat-dialog-title>Adicionar nova categoria</h1>
</ng-template>

<form class="example-form" [formGroup]="categoriesForm" (ngSubmit)="submitForm()" #formDir="ngForm">
    <table class="dataTable">
        <tr>
            <td class="cellAvatar">
                <img *ngIf="this.picute" [src]="this.picute" width="250" class="preview-avatar" (click)="openImages();">
                <img *ngIf="!this.picute" [src]="url" width="250" class="preview-avatar" (click)="openImages();">
            </td>
        <tr>
        <tr>
            <td class="alignCell">
                <input type="file" class="file" style="display: none;" (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload" (click)="openImages();" class="upload-div">
                    <mat-icon>attach_file</mat-icon>
                    <p class="input-text"> {{this.title || "Sem imagem"}} </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table class="dataTable">
                    <tr width="100%">
                        <td>
                            <br>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Nome</mat-label>
                                <input matInput (click)="openKeyboard('name', 'text', categorie.name)"
                                    formControlName="name">
                            </mat-form-field>
                        </td>
                        <td>
                            <br>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Categoria Pai</mat-label>
                                <mat-select [(value)]="subcategorySelected" (selectionChange)="categorySelect()"
                                    formControlName="id_category">
                                    <mat-option [value]=0>
                                        Sem categoria pai
                                    </mat-option>
                                    <mat-option *ngFor="let category of categoryItems" [value]="category.id">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%">
                <table class="dataTable">
                    <tr>
                        <td>
                            <span style="font-size: 15px;"><i>Os campos marcados com * são de preenchimento
                                    obrigatório.</i></span>
                        </td>
                        <td>
                            <mat-dialog-actions align="end">
                                <button mat-stroked-button class="dialog-btn"
                                    [mat-dialog-close]="false">Cancelar</button>

                                <ng-container *ngIf="update; else elseBlockButton">
                                    <button mat-stroked-button color="warn" class="dialog-btn" type="submit"
                                        cdkFocusInitial>Atualizar</button>
                                </ng-container>

                                <ng-template #elseBlockButton>
                                    <button mat-stroked-button color="warn" class="dialog-btn" type="submit"
                                        cdkFocusInitial>Registar</button>
                                </ng-template>

                            </mat-dialog-actions>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>