<!-- <div class="example-boundary">

    <div class="dbButtons">
        <div class="example-button-container">
            <button mat-mini-fab color="primary" (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
            <p class="txt">Add Board</p>
        </div>
        <div class="example-button-container" id="remove">
            <button mat-mini-fab color="warn" (click)="deleteCollection()">
                <mat-icon>delete</mat-icon>
            </button>
            <p class="txt">Delete All</p>
        </div>
        <div class="example-button-container">
            <button mat-mini-fab color="primary" routerLink="/" (click)="logout()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <p class="txt">Change User</p>
        </div>
    </div>

    <div *ngFor="let b of boards;">

        <div class="example-box" cdkDrag [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
            cdkDragBoundary=".example-boundary" (cdkDragEnded)="onDragEnded($event , b.id)">
            {{b.name}}
        </div>

    </div>
</div> -->




<br>
<div class="allBoards">
    <div class="example-boundary">
        <div class="dbButtons">
            <div class="example-button-container">
                <button mat-mini-fab color="primary" (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                </button>
                <p class="txt">Add Board</p>
            </div>
            <div class="example-button-container" id="remove">
                <button mat-mini-fab color="warn" (click)="deleteCollection()">
                    <mat-icon>delete</mat-icon>
                </button>
                <p class="txt">Delete All</p>
            </div>
            <div class="example-button-container">
                <button mat-mini-fab color="primary" routerLink="/" (click)="logout()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <p class="txt">Change User</p>
            </div>
        </div>

        <div (dblclick)="openUpdateDialog(b.id)" *ngFor="let b of boards;">
            <div *ngIf="b.capacity === 4 && b.type==='round'" class="example-round" cdkDragBoundary=".example-boundary"
                cdkDrag [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 2 && b.type==='round'" class="example-round" id="two"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 6 && b.type==='round'" class="example-round" id="six"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 8 && b.type==='round'" class="example-round" id="eight"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 10 && b.type==='round'" class="example-round" id="ten"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 12 && b.type==='round'" class="example-round" id="twelve"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 4 && b.type==='square'" class="example-box" cdkDragBoundary=".example-boundary"
                cdkDrag [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 2 && b.type=== 'square'" class="example-box" id="two"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 6 && b.type=== 'square'" class="example-box" id="six"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 8 && b.type=== 'square'" class="example-box" id="eight"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occupy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 10 && b.type=== 'square'" class="example-box" id="ten"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>{{b.occuppy}}/{{b.capacity}}
                </div>
            </div>
            <div *ngIf="b.capacity === 12 && b.type=== 'square'" class="example-box" id="twelve"
                cdkDragBoundary=".example-boundary" cdkDrag
                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                (cdkDragEnded)="onDragEnded($event , b.id)">
                <span>Board #{{b.number}}</span>
                <div class="capacityContent">
                    <mat-icon>person</mat-icon>
                    {{b.occupy}}/{{b.capacity}}
                </div>
            </div>
        </div>
    </div>
</div>