<ng-container *ngIf="update; else elseBlock">
    <h1 mat-dialog-title>Atualizar mesa</h1>
</ng-container>

<ng-template #elseBlock>
    <h1 mat-dialog-title>Adicionar nova mesa</h1>
</ng-template>

<form class="example-form">
    <table>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome da mesa</mat-label>
                <input matInput (click)="openKeyboard('name', 'text', mesa.name)" [(ngModel)]="mesa.name"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Capacidade</mat-label>
                <input matInput (click)="openKeyboard('capacity', 'number', mesa.capacity, 9)"
                    placeholder="Ex. 10" [(ngModel)]="mesa.capacity" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Numero da mesa</mat-label>
                <input type="number" matInput (click)="openKeyboard('number', 'number', mesa.number, 9)"
                    placeholder="Ex. 2715443890" [(ngModel)]="mesa.number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tipo de mesa</mat-label>
                <mat-select [(value)]="typeSelected" (selectionChange)="typeSelect()">
                    <mat-option value="square"> Quadrada </mat-option>
                    <mat-option value="round"> Redonda </mat-option>
                </mat-select>
            </mat-form-field>

        </td>
        <tr>
            <td width="100%">
                <mat-dialog-actions align="end">
                    <button class="dialog-btn" mat-stroked-button [mat-dialog-close]="false">Cancelar</button>

                    <ng-container *ngIf="update; else elseBlockButton">
                        <button class="dialog-btn" mat-stroked-button [mat-dialog-close]="mesa" color="warn"
                            cdkFocusInitial>Atualizar</button>
                    </ng-container>

                    <ng-template #elseBlockButton>
                        <button class="dialog-btn" mat-stroked-button [mat-dialog-close]="mesa" color="warn"
                            cdkFocusInitial>Registar</button>
                    </ng-template>
                </mat-dialog-actions>
            </td>
        </tr>
    </table>
</form>