.btnOptions {
    width: 125px;
    height: 50px;
    margin: 12px;
}

.dialog-btn {
    width: 125px;
    height: 50px;
    margin-top: -12px;
}

.disablePaginator {
    display: none;
}

textarea {
    max-height: 48px;
}

.labelError {
    font-size: 13px;
}
