<ng-container *ngIf="update; else elseBlock">
    <h2 mat-dialog-title>Atualizar cliente</h2>
</ng-container>

<ng-template #elseBlock>
    <h2 mat-dialog-title>Adicionar novo cliente</h2>
</ng-template>

<!-- <form>
    <mat-form-field appearance="outline">
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID" [(ngModel)]="cliente.id" [ngModelOptions]="{standalone: true}">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field> 
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" (click)="openKeyboard()" [(ngModel)]="cliente.name"
                [ngModelOptions]="{standalone: true}">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefone</mat-label>
            <span matPrefix>+351 &nbsp;</span>
            <input type="tel" matInput placeholder="999 999 999" [(ngModel)]="cliente.phone"
                [ngModelOptions]="{standalone: true}">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </p>
</form> -->
<form class="example-form">
    <table>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome do cliente</mat-label>
                <input matInput (click)="openKeyboard('name', 'text', cliente.name)" [(ngModel)]="cliente.name"
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telefone</mat-label>
                <input matInput (click)="openKeyboard('phone', 'number', cliente.phone, 9)" #telefone maxlength="9"
                    placeholder="Ex. 2715443890" [(ngModel)]="cliente.phone" [ngModelOptions]="{standalone: true}">
                <mat-hint align="end">{{telefone.value.length}} / 9</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nº contriubuinte</mat-label>
                <input matInput (click)="openKeyboard('nif', 'number', cliente.nif, 9)" #contribuinte maxlength="9"
                    placeholder="Ex. 2715443890" [(ngModel)]="cliente.nif" [ngModelOptions]="{standalone: true}">
                <mat-hint align="end">{{contribuinte.value.length}} / 9</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Morada</mat-label>
                <textarea matInput (click)="openKeyboard('address', 'text', cliente.address)"
                    placeholder="Ex. Rua da Liberdade, 25" [(ngModel)]="cliente.address"
                    [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Código Postal</mat-label>
                            <input matInput (click)="openKeyboard('postalCode', 'number', cliente.postalCode)"
                                #postalCode maxlength="8" placeholder="Ex. 4200-000" [(ngModel)]="cliente.postalCode"
                                [ngModelOptions]="{standalone: true}">
                            <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Freguesia</mat-label>
                            <input matInput (click)="openKeyboard('parish', 'text', cliente.parish)"
                                placeholder="Ex. Campanhã" [(ngModel)]="cliente.parish"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Concelho</mat-label>
                            <input matInput (click)="openKeyboard('county', 'text', cliente.county)"
                                placeholder="Ex. Porto" [(ngModel)]="cliente.county"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </td>
        <tr>
            <td width="100%">
                <mat-dialog-actions align="end">
                    <button class="dialog-btn" mat-stroked-button [mat-dialog-close]="false">Cancelar</button>

                    <ng-container *ngIf="update; else elseBlockButton">
                        <button class="dialog-btn" mat-stroked-button [mat-dialog-close]="cliente" color="warn"
                            cdkFocusInitial>Atualizar</button>
                    </ng-container>

                    <ng-template #elseBlockButton>
                        <button class="dialog-btn" mat-stroked-button [mat-dialog-close]="cliente" color="warn"
                            cdkFocusInitial>Registar</button>
                    </ng-template>

                </mat-dialog-actions>
            </td>
        </tr>
    </table>
</form>