button {
    padding: 10px;
    width: 100px;
    height: 50px;
    background-color: #eaece5;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgb(207, 207, 207);
    margin: 10px;
    cursor: pointer;
}

button#noBorder {
    border: none;
}

.button {
    cursor: pointer;
    width: 130px;
    height: 50px;
    margin-top: 25px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: #FF1818;
}

.button#ok {
    margin-left: 10px;
    background-color: #00C200;
}

mat-form-field {
    margin-top: 20px;
    width: 360px !important;
    height: 52px;
    overflow: hidden;
    border-bottom: 1px solid #9b9b9b;
}

mat-label {
    color: black;
    font-weight: bold;
}

input {
    font-size: 28px;
    background-color: #eaece5;
}

.allButtons {
    margin-top: 30px;
    align-items: center;
}

.flexItens {
    display: flex;
    width: 100%;
    height: 100%;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #eaece5;
}

.leftPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #b2c2bf;
}

.alignIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #3b3a30;
    font-weight: bold;
    font-size: 20px;
    font-family: Ubuntu;
}

.doneButton {
    background-color: #b4ffb4;
    width: 50%;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    cursor: pointer;
    color: #3b3a30;
    font-weight: bold;
    font-size: 20px;
    font-family: Ubuntu;
}

.doneButton#admin {
    background-color: rgb(165, 255, 255);
}

.actions {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

mat-icon {
    margin-right: 10px;
}

span {
    line-height: 35px;
}

.username {
    font-size: 36px;
    color: #3b3a30;
    font-family: Ubuntu;
    font-weight: bold;
    margin-bottom: 30px;
}

.userFunction {
    font-size: 26px;
    color: #3b3a30;
    font-family: Ubuntu;
    font-weight: bold;
    margin-bottom: 30px;
}

.avatar {
    width: 190px;
    height: 190px;
    border-radius: 100px;
}

.permissionBt {
    display: flex;
    justify-content: center;
    width: 100%;
}