<div class="flex">
    <app-side-bar></app-side-bar>
    <div class="alignSlider">
        <div class="flexSearch">
            <p class="category">Choose Category</p>
            <div class="searchBar">
                <input class="searchField" type="text" placeholder="Search category or itens...">
                <mat-icon class="searchIcon">search</mat-icon>
            </div>
        </div>
        <app-category-slider></app-category-slider>
        <div class="alignGrid">
            <mat-grid-list cols="4" rowHeight="260px" gutterSize="40px">
                <button (click)="setVisibilty('right')">
                    <mat-grid-tile *ngFor="let prod of products">
                        <div class="card">
                            <img class="productImg" src="{{prod.image}}" alt="">
                            <span class="productName">{{prod.name}}</span>
                            <span class="productWeight">{{prod.weight}}</span>
                            <span class="productPrice">{{prod.price}}€</span>
                        </div>
                    </mat-grid-tile>
                </button>
            </mat-grid-list>
        </div>
    </div>
</div>

<app-drawer [(visible)]="visible" [position]="position" [header]="'Drawer Header'" (onHide)="onDrawerHide()">
    <div class="drawer">
        <img src="https://previews.123rf.com/images/rvlsoft/rvlsoft1509/rvlsoft150900014/45570624-big-hamburger-su-sfondo-bianco.jpg"
            alt="logo" class="foodImg" />
        <span>Big John</span>
        <span>650g</span>
        <span>7.25€</span>
    </div>
</app-drawer>