<div class="flex">
    <app-side-bar></app-side-bar>
    <div class="alignSlider">
        <div class="flexSearch">
            <p class="category">Choose Category</p>
            <div class="searchBar">
                <input class="searchField" type="text" placeholder="Search category or itens...">
                <mat-icon class="searchIcon">search</mat-icon>
            </div>
        </div>
        <app-category-slider></app-category-slider>
        <div class="alignGrid">
            <mat-grid-list cols="4" rowHeight="260px" gutterSize="40px">
                <mat-grid-tile *ngFor="let prod of products">
                    <div class="card">
                        <img class="productImg" src="{{prod.image}}" alt="">
                        <span class="productName">{{prod.name}}</span>
                        <span class="productWeight">{{prod.weight}}</span>
                        <span class="productPrice">{{prod.price}}€</span>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>



<!-- <p>Auto-resizing sidenav</p>
<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
<button (click)="showFiller = !showFiller" mat-raised-button>
    Toggle extra text
</button> -->