.flex {
    display: flex;
    width: 100%;
    height: 100vh;
}

.alignSlider {
    display: flex;
    flex-direction: column;
    margin-left: 270px;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 650px;
    height: 55px;
    border-radius: 10px;
    margin: 30px 0 30px 0;
}

.searchField {
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: Poppins;
    margin-left: 20px;
    outline: none;
}

.searchIcon {
    font-size: 35px;
    margin-right: 20px;
}

.flexSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    font-size: 30px;
    font-family: Ubuntu;
    font-weight: bold;
    margin-left: 30px;
}

mat-grid-tile {
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mat-grid-list {
    margin: 40px 0 40px 20px;
    width: 100%;
}

.productImg {
    width: 40%;
    height: 30%;
}

.alignGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.productName {
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
    margin-top: 20px;
}

span {
    line-height: 30px;
}

.productPrice {
    font-size: 24px;
    font-family: Ubuntu;
    font-weight: bold;
    color: #fdbc18;
    margin-top: 10px;
}

.productWeight {
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 700px;
    color: #808080;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.button {
    background-color: white;
}

.app-drawer {
    position: absolute;
    background-color: black;
}

.foodImg {
    border-radius: 100%;
    width: 60%;
}

.drawer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.name {
    margin-top: 20px;
    font-family: Ubuntu;
    font-size: 26px;
    font-weight: bold;
}

.weight {
    color: #808080;
    font-family: Ubuntu;
    font-size: 16px;
    margin: 5px 0 5px 0;
    font-weight: 500;
}

.price {
    color: #fdbc18;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: bold
}

.addBtn {
    background-color: #fdbc18;
    width: 90%;
    border-radius: 10px;
    height: 40px;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 600;
}

.ingredients {
    width: 45px;
    height: 45px;
}

.flexIg {
    display: flex;
    align-items: center;
}

.ingredientSelection {
    margin: 35px 0 35px 0;
}

.ingredientName {
    margin-left: 10px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
}

.handleQuantity {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #fdbc18;
    margin: 12px;
}

.handleQuantity#decrease {
    background-color: #f2f2f2;
}

.quantity {
    font-weight: bold;
    font-family: Ubuntu;
    font-size: 16px;
}

.ingInfo {
    display: flex;
    align-items: center;
    width: 170px;
}