<ng-container *ngIf="this.zones.length === 0 ; else elseBlock">
    <div class="setLoading">
        <h1>There is no zones created!</h1>
        <h2>Please create or ask an admin.</h2>
        <!-- <mat-spinner style="margin-top: 30px; margin-bottom: 50px;"></mat-spinner> -->
        <div style="display: flex;">
            <button class="mat-raised-button" mat-raised-button color="primary" routerLink="/"
                (click)="logout()">Back</button>
            <button class="mat-raised-button" mat-raised-button color="primary" routerLink="/backoffice/mesas"
                (click)="getCustomer()">Create</button>
        </div>
    </div>
</ng-container>

<ng-template #elseBlock>
    <mat-tab-group color="warn" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChanged($event)"
        animationDuration="0ms" mat-align-tabs="center">
        <ng-container *ngFor="let zone of zones">
            <mat-tab [label]="zone.id + ' - ' +zone.name">
                <br><br>
                <div class="allBoards">
                    <div class="example-boundary" [style.background]="'url('+ zone.image +')'">
                        <div class="dbButtons">
                            <div class="example-button-container">
                                <button mat-mini-fab color="primary" routerLink="/" (click)="logout()">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                                <p class="txt">Change User</p>
                            </div>
                            <div class="example-button-container"  *ngIf="this.customerFunction === 'Admin'">
                                <button mat-mini-fab color="primary" routerLink="/backoffice/mesas">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <p class="txt">Create Board</p>
                            </div>
                        </div>
                        <div longPress (mouseLongPress)="onPress(b.id)" *ngFor="let b of boards;">
                            <div *ngIf="b.capacity === 4 && b.type==='round'" class="example-round"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 2 && b.type==='round'" class="example-round" id="two"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 6 && b.type==='round'" class="example-round" id="six"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 8 && b.type==='round'" class="example-round" id="eight"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 10 && b.type==='round'" class="example-round" id="ten"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 12 && b.type==='round'" class="example-round" id="twelve"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 4 && b.type==='square'" class="example-box"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 2 && b.type=== 'square'" class="example-box" id="two"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 6 && b.type=== 'square'" class="example-box" id="six"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 8 && b.type=== 'square'" class="example-box" id="eight"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 10 && b.type=== 'square'" class="example-box" id="ten"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                            <div *ngIf="b.capacity === 12 && b.type=== 'square'" class="example-box" id="twelve"
                                cdkDragBoundary=".example-boundary" cdkDrag [cdkDragStartDelay]="10000"
                                [cdkDragFreeDragPosition]="{x: b.dragPosition.x, y: b.dragPosition.y}"
                                (cdkDragEnded)="onDragEnded($event , b.id)">
                                <span>Board #{{b.number}}</span>
                                <div class="capacityContent" *ngIf="b.cart">
                                    <mat-icon>money</mat-icon> {{b.total}}€
                                </div>
                                <div class="capacityContent" *ngIf="!b.cart">
                                    <mat-icon>money</mat-icon> 0€
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</ng-template>