.flex {
    display: flex;
    width: 100%;
}

.alignSlider {
    display: flex;
    flex-direction: column;
    margin-left: 320px;
    margin-top: 20px;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 600px;
    height: 55px;
    border-radius: 10px;
    margin: 35px 0 30px 0;
}

.searchField {
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: Poppins;
    margin-left: 20px;
    outline: none;
}

.searchIcon {
    font-size: 35px;
    margin-right: 20px;
}

.flexSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.category {
    font-size: 30px;
    font-family: Ubuntu;
    font-weight: bold;
    margin-left: 30px;
}

.testam {
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1.5s;
}

.card:active {
    background-color: rgb(236, 236, 236);
    transition: 0s;
}

.mat-grid-list#grid {
    margin: 40px 0 40px 20px;
    width: 100%;
}

.productImg {
    width: 40%;
    height: 30%;
}

.alignGrid {
    margin-top: 40px;
    margin-left: 30px;
}

.productName {
    font-size: 22px;
    font-family: Roboto;
    font-weight: bold;
    margin: 10px 0 -5px 0;
}

span {
    line-height: 30px;
}

.productPrice {
    font-size: 22px;
    font-family: Ubuntu;
    font-weight: bold;
    color: #fdbc18;
}

.productWeight {
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 700px;
    color: #808080;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.button {
    background-color: white;
}

.height {
    position: fixed;
    width: 320px;
    height: 100%;
    border: 1px solid rgb(211, 211, 211);
    background-color: #f7f7f7;
}

.profileEmp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 20px 10px 10px 0;
}

.userActivity {
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 25px;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin-bottom: 5px;
}

.username {
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: bold;
}



.username#board {
    text-align: center;
}

p {
    font-family: Ubuntu;
}

.line {
    margin-left: 21px;
    display: flex;
    align-items: center;
    font-family: Roboto;
}

.overflow {
    height: 64%;
    overflow: auto;
    position: relative;
}

.overflow::-webkit-scrollbar {
    display: none;
}

.empty {
    color: red;
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
}

.quantity {
    position: absolute;
    right: 20px;
}

.quantity#header{
    position: absolute;
    right: 15px;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 16px;
}

.iva_card {
    position: absolute;
    right: 60px;
}

.iva_card#header{
    position: absolute;
    right: 65px;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 16px;
}


.price_card {
    position: absolute;
    right: 110px;
}

.price_card#header{
    position: absolute;
    right: 115px;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 16px;
}

.name_card{
    margin-left: 35px;
    font-weight: bold;
    font-size: 16px;
}

.totalPrice {
    font-size: 20px;
    font-weight: bold;
}

.iva {
    font-size: 17px;
}

.flexBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
}

button#pay {
    width: 120px;
    height: 40px;
    background-color: #fdbc18;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}

.iconBack {
    cursor: pointer;
    font-size: 35px
}

.x {
    margin-left: -15px;
    margin-right: 5px;
}

@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/pagination";

.swiper {
    margin-left: 30px;
    width: 1140px;
    height: 110px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

.swiper-slide img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-bottom: 5px
}

.swiper-pagination-bullet {
    display: none;
}

.categoryName {
    font-weight: bold;
    font-family: Ubuntu;
    margin: 0 0 5px 0;
    font-size: 16px;
}

.cardSub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    border: 3px solid orange;
    border-radius: 15px;
}

.mat{
    display: fixed;
    position: absolute;
    top: 95%;
    left: 97%;
    font-size: 32px;
    cursor: pointer;
}

.matt{
    display: fixed;
    position: absolute;
    top: 91%;
    left: 97%;
    color: red;
    font-size: 28px;
    cursor: pointer;
}

.cardd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    border: 3px solid orange;
    background-color: #f7e083;
    border-radius: 15px;
}