<ng-container *ngIf="register.length > 1; else elseBlock">
    <h2 mat-dialog-title>Deseja eliminar os registos selecionados?</h2>
</ng-container>
<ng-template #elseBlock>
    <h2 mat-dialog-title>Deseja eliminar o registo selecionado?</h2>
</ng-template>

<mat-dialog-content class="mat-typography">
    <div class="scroll">
        <ng-container *ngFor="let data of register">
            <ng-container *ngIf="component === 'Fatura'; else elseBlock">
                <h3>{{component}} nº{{data.id}} registada em {{data.date}} com o valor total de {{(data.subtotal_no_iva+data.subtotal_iva).toFixed(2)}}€.</h3>
            </ng-container>

            <ng-template #elseBlock>
                <h3>{{component}} nº{{data.id}} - {{data.name}}</h3>
            </ng-template>
        </ng-container>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Não</button>
    <button mat-button [mat-dialog-close]="register" color="warn">Sim</button>
</mat-dialog-actions>