<div class="containerDefault">

    <br>
    <mat-divider></mat-divider>
    <div>
        <mat-grid-list cols="4" rowHeight="220px">
            <mat-grid-tile>


                <mat-card>
                    <mat-card-title>Clientes registados hoje: </mat-card-title>
                    <mat-card-subtitle>{{today}}</mat-card-subtitle>
                    <mat-card-content class="cardContent">
                        <p class="cardData">
                            {{nClientes}}
                        </p>
                    </mat-card-content>
                    <mat-card-subtitle>Total: {{totalClientes}} </mat-card-subtitle>
                </mat-card>

            </mat-grid-tile>
            <mat-grid-tile>

                <mat-card>
                    <mat-card-title>Vendas efetuadas hoje: </mat-card-title>
                    <mat-card-subtitle>{{today}}</mat-card-subtitle>
                    <mat-card-content class="cardContent">
                        <p class="cardData">
                            {{nVendas}}
                        </p>
                    </mat-card-content>
                    <mat-card-subtitle>Total: {{totalVendas}}</mat-card-subtitle>
                </mat-card>

            </mat-grid-tile>
            <mat-grid-tile>
                
                <mat-card>
                    <mat-card-title>Nº de produtos vendidos</mat-card-title>
                    <mat-card-subtitle>Desde sempre</mat-card-subtitle>
                    <mat-card-content class="cardContent">
                      <p class="cardData">{{this.nProdutos}}</p>
                    </mat-card-content>
                    <mat-card-subtitle>Ultimo produto vendido: </mat-card-subtitle>
                  </mat-card>

            </mat-grid-tile>
            <mat-grid-tile>
                
                <mat-card>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                  </mat-card>

            </mat-grid-tile>
            <mat-grid-tile>
                
                <mat-card>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                  </mat-card>

            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <mat-divider></mat-divider>
</div>