<ng-container *ngIf="update; else elseBlock">
    <h1 mat-dialog-title>Atualizar zona</h1>
</ng-container>

<ng-template #elseBlock>
    <h1 mat-dialog-title>Adicionar nova zona</h1>
</ng-template>

<form class="example-form styleForm" [formGroup]="formZones" (ngSubmit)="submitForm()" #formDir="ngForm">
    <table class="dataTable">
        <tr>
            <td class="rowStyle">
                <img *ngIf="this.picute" [src]="this.picute" width="250" class="preview-avatar" (click)="openImages()">
                <img *ngIf="!this.picute" [src]="url" width="250" class="preview-avatar" (click)="openImages()">
                <input type="file" class="file" style="display: none;" (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload" (click)="openImages()" class="upload-div">
                    <mat-icon>attach_file</mat-icon>
                    <p class="input-text"> {{this.title || "Sem imagem"}} </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput (click)="openKeyboard('name', 'text', zone.name)" formControlName="name">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <table class="dataTable">
                    <tr>
                        <td>
                            <span style="font-size: 15px;"><i>Os campos marcados com * são de preenchimento
                                    obrigatório.</i></span>
                        </td>
                        <td>
                            <mat-dialog-actions align="end">
                                <button mat-stroked-button class="dialog-btn"
                                    [mat-dialog-close]="false">Cancelar</button>

                                <ng-container *ngIf="update; else elseBlockButton">
                                    <button type="submit" mat-stroked-button color="warn" class="dialog-btn"
                                        cdkFocusInitial>Atualizar</button>
                                </ng-container>

                                <ng-template #elseBlockButton>
                                    <button type="submit" mat-stroked-button color="warn" class="dialog-btn"
                                        cdkFocusInitial>Registar</button>
                                </ng-template>
                            </mat-dialog-actions>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>