<ng-container *ngIf="update; else elseBlock">
    <h1 mat-dialog-title>Atualizar artigo</h1>
</ng-container>

<ng-template #elseBlock>
    <h1 mat-dialog-title>Adicionar novo artigo</h1>
</ng-template>

<form class="example-form" [formGroup]="formProducts" (ngSubmit)="submitForm()" #formDir="ngForm">
    <table class="table-form">
        <tr>
            <td>
                <img [src]="url" width="250" class="preview-avatar" (click)="fileUpload.click()">
                <input type="file" class="file" style="display: none;" (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload" (click)="fileUpload.click()" class="upload-div">
                    <mat-icon>attach_file</mat-icon>
                    <p class="input-text"> {{fileName || "Sem imagem"}} </p>
                </div>
            </td>
            <td class="dataTable">
                <mat-tab-group color="warn" animationDuration="170ms">
                    <mat-tab label="Dados Gerais">
                        <table class="dataTable">
                            <td>
                                <br>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Nome</mat-label>
                                    <input matInput (click)="openKeyboard('name', 'text', artigo.name)"
                                        formControlName="name">
                                        <div *ngIf="name.invalid && formDir.submitted">
                                            <div *ngIf="name.errors?.['minlength'] || name.errors?.['maxlength']">
                                                <span class="labelError">O nome deve ter entre 3 e 50 caracteres</span>
                                            </div>
                                        </div>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Descrição</mat-label>
                                    <textarea matInput (click)="openKeyboard('description', 'text', artigo.description)"
                                        placeholder="Ex. Artigo de origem nacional"
                                        formControlName="description"></textarea>
                                        <div *ngIf="description"></div>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>IVA</mat-label>
                                    <mat-select [(value)]="ivaSelected" (selectionChange)="ivaSelect()"
                                        formControlName="iva">
                                        <mat-option value="0.04"> 4% </mat-option>
                                        <mat-option value="0.06"> 6% </mat-option>
                                        <mat-option value="0.09"> 9% </mat-option>
                                        <mat-option value="0.13"> 13% </mat-option>
                                        <mat-option value="0.18"> 18% </mat-option>
                                        <mat-option value="0.23"> 23% </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <table class="dataTable">
                                    <tr>
                                        <td>
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Categoria</mat-label>
                                                <mat-select [(value)]="categorySelected"
                                                    (selectionChange)="categorySelect()" formControlName="id_category">
                                                    <mat-option *ngFor="let category of categoryItems"
                                                        [value]="category.id">
                                                        {{category.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </table>
                    </mat-tab>

                    <mat-tab label="Preços (€)">
                        <table class="dataTable">
                            <tr>
                                <td>
                                    <br>

                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>PVP1</mat-label>
                                        <input matInput type="number"
                                            (click)="openKeyboard('price', 'number', artigo.price, 9)"
                                            placeholder="Ex. 1.90" formControlName="price">
                                    </mat-form-field>

                                    <table class="dataTable">
                                        <tr>
                                            <td>
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>PVP 2</mat-label>
                                                    <input matInput type="number"
                                                        (click)="openKeyboard('pvp2', 'number', artigo.pvp2, 9)"
                                                        placeholder="Ex. 1.90" formControlName="pvp1">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>PVP 3</mat-label>
                                                    <input matInput type="number"
                                                        (click)="openKeyboard('pvp3', 'number', artigo.pvp3, 9)"
                                                        placeholder="Ex. 1.90" formControlName="pvp2">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>PVP 4</mat-label>
                                                    <input matInput type="number"
                                                        (click)="openKeyboard('pvp4', 'number', artigo.pvp4, 9)"
                                                        placeholder="Ex. 1.90" formControlName="pvp3">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>PVP 5</mat-label>
                                                    <input matInput type="number"
                                                        (click)="openKeyboard('pvp5', 'number', artigo.pvp5, 9)"
                                                        placeholder="Ex. 1.90" formControlName="pvp4">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>PVP 6</mat-label>
                                                    <input matInput type="number"
                                                        (click)="openKeyboard('pvp6', 'number', artigo.pvp6, 9)"
                                                        placeholder="Ex. 1.90" formControlName="pvp5">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>PVP 7</mat-label>
                                                    <input matInput type="number"
                                                        (click)="openKeyboard('pvp7', 'number', artigo.pvp7, 9)"
                                                        placeholder="Ex. 1.90" formControlName="pvp6">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </mat-tab>
                    <mat-tab label="Unidades">
                        <table class="dataTable">
                            <tr>
                                <td>
                                    <br>

                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Unidade</mat-label>
                                        <mat-select [(value)]="unitySelected" (selectionChange)="unitySelect()"
                                            formControlName="unity">
                                            <mat-option value="peso"> Peso </mat-option>
                                            <mat-option value="volume"> Volume </mat-option>
                                            <mat-option value="unidade"> Unidade </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <ng-container *ngIf="unitySelected!='unidade'">
                                        <table class="dataTable">
                                            <tr>
                                                <td>
                                                    <mat-form-field class="example-full-width" appearance="fill">
                                                        <mat-label>Subunidade</mat-label>
                                                        <mat-select [(value)]="subUnitySelected"
                                                            (selectionChange)="subunitySelect()"
                                                            formControlName="sub_unity">

                                                            <ng-container *ngIf="unitySelected == 'peso'">
                                                                <mat-option value="kg"> Kilograma (kg) </mat-option>
                                                                <mat-option value="g"> Grama (g) </mat-option>
                                                            </ng-container>

                                                            <ng-container *ngIf="unitySelected == 'volume'">
                                                                <mat-option value="litro"> Litro (L) </mat-option>
                                                                <mat-option value="cl"> Centilitro (Cl) </mat-option>
                                                            </ng-container>

                                                            <ng-container *ngIf="unitySelected == 'unidade'">
                                                                <mat-option value="uni"> Unidade (Uni) </mat-option>
                                                            </ng-container>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>
                                    </ng-container>
                                </td>
                            </tr>
                        </table>
                    </mat-tab>
                </mat-tab-group>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="dataTable">
                    <tr>
                        <td>
                            <span style="font-size: 15px;"><i>Os campos marcados com * são de preenchimento obrigatório.</i></span>
                        </td>
                        <td>
                            <mat-dialog-actions align="end">
                                <button mat-stroked-button class="dialog-btn"
                                    [mat-dialog-close]="false">Cancelar</button>

                                <ng-container *ngIf="update; else elseBlockButton">
                                    <button type="submit" mat-stroked-button color="warn" class="dialog-btn"
                                        >Atualizar</button>
                                </ng-container>

                                <ng-template #elseBlockButton>
                                    <button type="submit" mat-stroked-button color="warn" class="dialog-btn"
                                        >Registar</button>
                                </ng-template>

                            </mat-dialog-actions>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>