.flexI {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -25px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    font-size: 16px;
    margin: 5px 30px 0 30px;
    font-weight: bold;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
}

.top2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    font-size: 16px;
    margin: 5px 30px 0 30px;
    font-weight: bold;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
}

.example-containerP {
    width: 550px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 40px;
    height: 300px;
    background: white;
    border-radius: 4px;
    overflow: auto;
    margin-top: 5px;
}

.example-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    font-size: 16px;
    font-family: Ubuntu;
    height: 50px;
    position: relative;
}

.centerCDK {
    display: flex;
    justify-content: center;
}

mat-icon#change {
    font-size: 45px;
}

mat-icon#changed {
    font-size: 45px;
    margin-left: -7px;
}

.actions {
    display: flex;
}

.actions#todo {
    margin-top: 50px;
}

.actions#done {
    margin-top: 50px;
}

.actions#left {
    margin-top: 50px;
}

.margins {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 110px 65px 0px 50px
}

.active {
    background-color: rgb(255, 229, 180);
}

.customer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

button {
    background-color: white;
    font-family: Ubuntu;
    font-size: 16px;
}

.createUser {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 60px;
    background-color: white;
    margin: 10px 0 0 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.mat-dialog-container {
    border-radius: 0 !important;
    padding: 0 !important;
}

.methods {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-right: 10px;
}

.methods#noMargin {
    margin-right: 0px;
}

.methods#noMargin2 {
    margin-right: 0px;
    background-color: #fdbc18;
}

button.noMargin {
    background-color: #fdbc18;
}

.splitColumn {
    width: 100%;
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toPay {
    font-size: 20px;
    font-weight: bold;
    font-family: Ubuntu;
}

.toPay#val {
    margin-left: 10px;
}

.toPay#eur {
    margin-left: 0;
}

.namePosition {
    margin-left: 10px;
    font-family: Ubuntu;
    font-weight: bold;
}

.pricePosition {
    margin-left: 95px;
    font-family: Ubuntu;
    font-weight: bold;
}

.ivaPosition {
    margin-left: 65px;
    font-family: Ubuntu;
    font-weight: bold;
}

.iva2Position {
    margin-left: 60px;
    font-family: Ubuntu;
    font-weight: bold;
}

.unityPosition {
    margin-left: 70px;
    font-family: Ubuntu;
    font-weight: bold;
}

.quantityPosition {
    margin-left: 45px;
    font-family: Ubuntu;
    font-weight: bold;
}

.pricePos {
    position: absolute;
    left: 27%;
}

.priceIvaPos {
    position: absolute;
    left: 46%;
}

.priceIva2Pos {
    position: absolute;
    left: 62%;
}

.unityPos {
    position: absolute;
    left: 78%;
}

.unityPos {
    position: absolute;
    left: 80%;
}

.example-container-side {
    width: 100%;
    height: 100%;
}

.example-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.mat-drawer-inner-container::-webkit-scrollbar {
    width: 10px;
}

.example-sidenav {
    padding: 1px;
    width: 515px;
}

mat-divider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/////////////////////////////////Invoice////////////////////////////////

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #5D6975;
    text-decoration: underline;
}

header {
    padding: 10px 0;
    margin-bottom: 10px;
}

#logo {
    text-align: center;
    margin-bottom: 10px;
}

#logo img {
    width: 90px;
}

h1 {
    border-top: 1px solid #5D6975;
    border-bottom: 1px solid #5D6975;
    color: #5D6975;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
    background: ("../../../assets/images/dimension.png");
}

#project {
    float: left;
}

#project span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
}

#company {
    float: right;
    text-align: right;
}

#project div,
#company div #centerZone div {
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
    background: #F5F5F5;
}

table th,
table td {
    text-align: center;
}

table th {
    padding: 5px 20px;
    color: #5D6975;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;
    font-weight: normal;
}

table .service,
table .iva {
    text-align: left;
}

table td {
    padding: 20px;
    text-align: right;
}

table td.service,
table td.iva {
    vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}

table td.grand {
    border-top: 1px solid #5D6975;
    ;
}

footer {
    color: #5D6975;
    width: 100%;
    border-top: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
}

.containerInvoice {
    padding: 5px;
    width: 100%;
}

#centerZone {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
}

#centerZone span {
    color: #5D6975;
    text-align: right;
    margin-right: 5px;
    display: inline-block;
    font-size: 0.8em;
}

body#inv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 13cm;
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-family: Arial;
}

.pdf {
    width: 100px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 3%;
    right: 5%;
    border: 1px solid #000;
    background-color: #c4c4c4;
}