@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/pagination";

.swiper {
  margin-left: 30px;
  width: 1140px;
  height: 110px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.swiper-slide img {
  border-radius: 100%;
  margin-top: 35px;
  width: 50px;
  height: 50px;
}

.swiper-pagination-bullet {
  display: none;
}

.categoryName {
  font-weight: bold;
  font-family: Ubuntu;
  margin-bottom: 30px;
  font-size: 16px;
}