<swiper [slidesPerView]="8" [spaceBetween]="30" [freeMode]="true" [pagination]="{
  clickable: true
}">

  <ng-template swiperSlide *ngFor="let cat of categories; index as i">
    <div id="card {{cat.id}}" (click)="getCategoryItems(cat.name); selectCategory(cat.id)">
      <img id="image {{cat.id}}" src="{{cat.image}}" alt="">
      <span class="categoryName">{{cat.name}}</span>
    </div>
  </ng-template>
</swiper>

<!-- <div *ngFor="let c of item">
<p>{{c.name}}</p>
</div> -->

<!-- <p (click)="createCategory()">OLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p> -->
