@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'simple-keyboard/build/css/index.css';
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "~ngx-toastr/toastr";

* {
    font-family: "Roboto", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #eaece5;
    cursor: default;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #eaece5;
    text-align: center;
}

.app-full-bleed-dialog .mat-dialog-container {
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
}

img {
    object-fit: cover;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.cdk-overlay-dark-backdrop {
    background: black;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.8;
}

.mat-dialog-container {
    border-radius: 25px !important;
}

//////////////////////////////////////

.containerDefault {
    padding: 10px;
}

.list-item-active {
    color: red !important; /* Note: You could also use a custom theme */
}

////////////////

.selectRow {
    background-color: rgb(104, 104, 104);
}

.mat-tab-label.mat-tab-label-active {
    //min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
    margin-top: 20px;
    background-color: #f7f7f7;
}

mat-form-field {
    padding: 10px;
}

.synchronizedTrue {
    color: rgb(0, 123, 0);
    font-size: 20px;
}

.synchronizedFalse {
    color: rgb(200, 7, 7);
    font-size: 20px;
}

.fixedHeader {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f7f7f7;
    width: 100%;
}

.orderList {
    position: absolute;
    right: 2px;
    margin-top: -76px;
}

.highlight {
    background-color: rgba(245, 138, 72, 0.859);
}

ul {
    text-align: center;
}

.input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
}

.simple-keyboard {
    max-width: 850px;
}

// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
// }

.example-full-width {
    width: 100%;
}

// td {
//     padding-right: 8px;
// }

.noData {
    border: 3px solid #fde9a6;
    background-color: #fff3cd;
    border-radius: 10px;
}

.noDataText{
    color: #856404;
    margin-left: 10px;
}

.dataTable{
    width: 100%;
}

.disablePaginator {
    display: none;
}

