@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,body{
    margin: 0;
    padding: 0;
    background-color:  #eaece5;
    cursor: default;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #eaece5;
    text-align: center;
}

.app-full-bleed-dialog .mat-dialog-container {
    padding: 0;
}

button{
    cursor: pointer;
    border: none;
}
