<div class="alignItens">
    <div class="box">
        <div class="flexColumn">
            <img class="image" src="assets/images/restaurante.jpg" alt="">
            <div class="profile">
                <img class="leftAvatar" src="assets/images/Joao.jpeg" alt="">
                <span class="date">{{myDate | date}}</span>
                <span class="date">{{myDate | date:"shortTime"}}</span>
            </div>
        </div>
        <div class="users">
            <p class="text">Select User</p>
            <div class="allProfiles">
                <button class="dialogBt" mat-raised-button (click)="openDialog()">
                    <div class="profileItens">
                        <img class="avatar" src="assets/images/Joao.jpeg" alt="">
                        <p class="name">João Vieira</p>
                    </div>
                </button>
                <button class="dialogBt" mat-raised-button (click)="openDialog()">
                    <div class="profileItens">
                        <img class="avatar" src="assets/images/Joao.jpeg" alt="">
                        <p class="name">João Vieira</p>
                    </div>
                </button>
                <button class="dialogBt" mat-raised-button (click)="openDialog()">
                    <div class="profileItens">
                        <img class="avatar" src="assets/images/Joao.jpeg" alt="">
                        <p class="name">João Vieira</p>
                    </div>
                </button>
                <button class="dialogBt" mat-raised-button (click)="openDialog()">
                    <div class="profileItens">
                        <img class="avatar" src="assets/images/Joao.jpeg" alt="">
                        <p class="name">João Vieira</p>
                    </div>
                </button>
                <button class="dialogBt" mat-raised-button (click)="openDialog()">
                    <div class="profileItens">
                        <img class="avatar" src="assets/images/Joao.jpeg" alt="">
                        <p class="name">João Vieira</p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>