<div #container [ngClass]="{'p-sidebar':true,
'p-sidebar-left': position === 'left',
'p-sidebar-right': position === 'right'}" *ngIf="visible"
    [@panelState]="{value: 'visible', params:{transform: transformOptions, transition: transitionOptions}}"
    (@panelState.start)="onAnimationStart($event)" (@panelState.done)="onAnimationEnd($event)">
    <div class="p-sidebar-header" [ngClass]="{'sidebar-right-header': position === 'right'}">
        <h2 *ngIf="header">{{header}}</h2>
        <em class="fa fa-times" (click)="close($event)" (keydown.enter)="close($event)" *ngIf="showCloseIcon"></em>
    </div>
    <div class="p-sidebar-content">
        <ng-content></ng-content>
    </div>
</div>